.brand-logo{
  margin-left: 10px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    color: #263238;
    font-family: 'Girassol', cursive;
  }
  
body::after {
    content: "";
    background: url(Assets/images/clipdealer_A107414116_preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
  }

::placeholder{
      color:#263238; 
      font-family: 'Girassol', cursive;
  }
main {
  flex: 1 0 auto;
  }

#searchdiv{
  margin-top: 2%;
}
.aligned{
  margin-bottom: 20px;
}
.validation-error {
    color: red;
    margin-top: 1px;
}
img{
  border-radius: 8px;
  width: auto;
  height:auto;
  max-height: 300px;

}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

