body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    color: #263238;
    font-family: 'Girassol', cursive;
  }
  
body::after {
    content: "";
    background: url(Assets/images/clipdealer_A107414116_preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
  }

::placeholder{
      color:#263238; 
      font-family: 'Girassol', cursive;
  }
main {
  flex: 1 0 auto;
  }

#searchdiv{
  margin-top: 2%;
}