body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    color: #263238;
    font-family: 'Girassol', cursive;
  }
  
body::after {
    content: "";
    background: url(Assets/images/recipes_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
  }
main {
    flex: 1 0 auto;
}

::placeholder{
    color:#263238; 
    font-family: 'Girassol', cursive;
}

#searchdiv{
    margin-top: 2%;
}
.btn-small{
  display:inline-block;
}
label{
  font-weight: bold;
  color:#263238; 
  font-family: 'Girassol', cursive;
  font-size: small;
}
.aligned{
  margin-bottom: 20px;
}